.app{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container{
  width:500px;
  height:600px;
  border-radius:20px;
  border:3px solid rgb(225, 72, 16);
  background:rgb(221, 139, 7);
}